@import './mixins';
@import 'header/header';
@import 'content/blog';
@import 'content/gform';
@import 'footer/footer';
@import 'footer/mobilebar';
@import 'footer/copyright';
@import 'footer/quadcol';
@import 'header/navigation';
@import 'header/navbar-topmenu';
@import 'header/navbar-sticky';


/**
 * Turn off smooth scroll as it does not work properly
**/
:root {
    scroll-behavior: auto;
}


/**
 * Hide Google's ReCaptcha V3 badge
 */
.grecaptcha-badge { 
    display: none; 
}

/**
 * Content changes for general readability
 */
.entry-content {

    h2, h3, h4 {
        margin-top: 2rem;
    }
}

@include media-breakpoint-up(lg) 
{
    .wrapper {
        margin: 4rem 0;
    }
}

/**
 * Global button helpers
 */
.btn-icon {
	display: flex;
	align-items: center;
	
    .phone-link-content {
        display: flex;
        align-items: center;
    }

    i {
        margin-right: 1rem;
        font-size: 1.25em;
    }
    .postfix-icon {
        margin-left: 1rem;
        margin-right: 0;
    }
}

.btn-secondary-dark {
    @include button-variant(
        $secondary-dark, 
        $secondary-dark, 
        $light,
    );    
}


/**
 * Small adjustments to the office hours shortcode display
 */
.office-hours {
    max-width: 350px;

    .row {
        margin-bottom: .5rem;
    }
}

/**
 * Social media block styling
 */
.office-social {
    font-size: 1.25rem;
    margin: 0 -.25rem;

    a {
        color: white;
    }
    i {
        margin: 0 .25rem;
    }
}

/**
 * Styling for the phone click-to-copy functionality
 */
.phone-link {

    .phone-link-copied {
        display: none;
    }
}
.phone-link-clicked {
    .phone-link-content {
        display: none;
    }
    .phone-link-copied {
        display: block;
    }
}

/**
 * Additional container wrap classes
 */
.container-maxwrap {
    width: 92%;
    max-width: 1740px;
    margin: 0 auto;
}
.container-smwrap {
    max-width: 920px;
    margin: 0 auto;
}

@media all and (min-width: 1600px) {
    .container-bigwrap {
        max-width: 1560px;
    }
}

/**
 * Custom styling import. Make sure this is always at the bottom for overrides
 */
@import 'custom/custom_styles';