@import './mixins';
@import 'header/header';
@import 'content/blog';
@import 'content/gform';
@import 'footer/footer';
@import 'footer/mobilebar';
@import 'footer/copyright';
@import 'footer/quadcol';
@import 'header/navigation';
@import 'header/navbar-topmenu';
@import 'header/navbar-sticky';
@import 'header/navbar-inline';


/**
 * Turn off smooth scroll as it does not work properly
**/
:root {
    scroll-behavior: auto;
}


/**
 * Hide Google's ReCaptcha V3 badge
 */
.grecaptcha-badge { 
    display: none; 
}

/**
 * Content changes for general readability
 */
.entry-content {

    h2, h3, h4 {
        margin-top: 2rem;
    }
}

/**
 * Content styling
*/
.main-content {
    line-height: 2;
    margin: 3rem 0;

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }
    h2 {
        margin-top: 0;
    }
    h3, h4 {
        margin-top: 3rem;
    }
    h3 {
        font-weight: 500;
        color: $dark;
    }
}

@include media-breakpoint-up(xl) {
    .main-content {
        margin: 5rem 0;
    }
}

@include media-breakpoint-up(lg) 
{
    .wrapper {
        margin: 4rem 0; 
    }
}

/**
 * Global button helpers
 */
.btn-icon {
	display: flex;
	align-items: center;
	
    .phone-link-content {
        display: flex;
        align-items: center;
    }

    i {
        margin-right: 1rem;
        font-size: 1.25em;
    }
    .postfix-icon {
        margin-left: 1rem;
        margin-right: 0;
    }
}

.theme-button-group {
    .wp-block-group__inner-container {
        margin-left: -.5rem!important;
        margin-right: -.5rem!important;

        .component-button {
            padding: .5rem;
            .btn {
                flex: 1;
                line-height: 1.2;
                padding: 1rem .5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .theme-button-group {
        .wp-block-group__inner-container {
            display: flex;
            flex-direction: row;

            .component-button {
                flex: 1 1 0px;
            }
        }
    }
}


/**
 * Small adjustments to the office hours shortcode display
 */
.office-hours {
    max-width: 350px;

    .row {
        margin-bottom: .5rem;
    }
}

/**
 * Social media block styling
 */
.office-social {
    font-size: 1.25rem;
    margin: 0 -.25rem;

    a {
        color: white;
    }
    i {
        margin: 0 .25rem;
    }
}

/**
 * Styling for the phone click-to-copy functionality
 */
.phone-link {

    .phone-link-copied {
        display: none;
    }
}
.phone-link-clicked {
    .phone-link-content {
        display: none;
    }
    .phone-link-copied {
        display: block;
    }
}

/**
 * Additional container wrap classes
 */
.container-maxwrap {
    width: 92%;
    max-width: 1740px!important;
    margin: 0 auto;
}
.container-smwrap {
    max-width: 920px;
    margin: 0 auto;
}

/**
 * Some new wrapper classes
**/
.xs-wrapper {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
}

.sm-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.md-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.lg-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 1600px) {
    .container-bigwrap {
        max-width: 1560px;
    }
}

/**
 * Custom styling import. Make sure this is always at the bottom for overrides
 */
@import 'custom/custom_styles';