@import '../../src/sass/assets/bootstrap5/functions';
@import '../../src/sass/assets/bootstrap5/variables';
@import '../../src/sass/assets/bootstrap5/mixins';
@import '../../src/sass/theme/child_theme_variables';
@import '../../src/sass/theme/mixins';

.callout-teamgrid {

    .callout-teamgrid-member {
        text-align: center;
        position: relative;
        
        h2, h3, h4 {
            margin: 0;
        }
        .callout-teamgrid-member-name {
            margin-top: .75rem;
            font-size: 1.5rem;
        }
        .callout-teamgrid-member-title {
            font-size: 1.25rem;
        }
    }
}